<a href=/produce_items>Produce Items</a>
<a href=/farmers_market_stands>Farmers Market Stands</a>
<h1><%= @produce_item.type %></h1>
<p><%= @produce_item.farmers_market_stand_id %></p>
<p><%= @produce_item.created_at %></p>
<p><%= @produce_item.updated_at %></p>
<p><%= @produce_item.weight %></p>
<p><%= @produce_item.price_by_weight %></p>
<p><%= @produce_item.organic %></p>
<%= link_to 'Update Produce Item', "/produce_items/#{@produce_item.id}/edit", :method => :get %>
