<a href=/cars>Cars</a>
<h1><%= @dealership.name %></h1>
<p><%= @dealership.created_at %></p>
<p><%= @dealership.updated_at%></p>
<p><%= @dealership.open %></p>
<p><%= @dealership.max_car_capacity %></p>
<p><%= @dealership.cars_count %></p>
