<a href=/produce_items>Produce Items</a>
<a href=/farmers_market_stands>Farmers Market Stands</a>
<h1><%= @farmers_market_stand.name %></h1>
<p><%= @farmers_market_stand.created_at %></p>
<p><%= @farmers_market_stand.updated_at %></p>
<p><%= @farmers_market_stand.city %></p>
<p><%= @farmers_market_stand.seasonal %></p>
<p><%= @farmers_market_stand.staffing %></p>
