<a href=/produce_items>Produce Items</a>
<a href=/farmers_market_stands>Farmers Market Stands</a>
<% @produce_items.each do |item| %>
<h1><%= item.type %></h1>
<p><%= item.farmers_market_stand_id %></p>
<p><%= item.created_at %></p>
<p><%= item.updated_at %></p>
<p><%= item.weight %></p>
<p><%= item.price_by_weight %></p>
<p><%= item.organic %></p>
<% end %>
<%= link_to "Create New Produce Item", "/farmers_market_stands/#{@farmers_market_stand.id}/produce_items/new", :method => :get %>
